#contenedor{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 350px 125px 500px 50px;
    text-align: center;
}
header{
    grid-column: 1 / span 4;
    background-color: yellow;
    padding-top: 125px;
}
nav{
    padding-top: 50px;
}
#pag1{
    grid-column: 1 / span 1;
    background-color: orange;
}
#pag2{
    grid-column: 2 / span 1;
    background-color: gray;
}
#pag3{
    grid-column: 3 / span 1;
    background-color: orange;
}
#pag4{
    grid-column: 4 / span 1;
    background-color: gray;
}
#sect1{
    grid-column: 1;
    background-color: lightgreen;
}
#sect2{
    grid-column: 2 / span 2;
    background-color: white;
}
#sect3{
    grid-column: 4;
    background-color: lightgreen;
}
section, article, aside{
    padding-top: 250px;
}
footer{
    grid-column: 1 / span 4;
    color: white;
    background-color: black;
    padding-top: 25px;
}